main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow-y: auto;
}

.sessions-card {
    background-color: var(--dark-medium);
    border-radius: var(--border-radius);
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: var(--box-shadow);
}

.sessions-card h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: var(--a-bit-bigger-font-size);
}

#sessions-container {
    font-size: var(--smaller-font-size);
}

.session {
    border-bottom: 1px solid var(--light-dark);
    padding: 1rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.session:last-child {
    border-bottom: none;
}

.session:hover {
    background-color: var(--light-dark);
}

.session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.session-header-left {
    display: flex;
    align-items: center;
}

.session-header-left > *:not(:last-child) {
    margin-right: 1rem;
}

.session-details {
    display: none;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--light-medium);
}

.session-details.expanded {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.session-details > * {
    margin-right: 1rem;
}

#show-more {
    background-color: var(--light-light);
    color: var(--dark-dark);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: var(--smaller-font-size);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#show-more:hover {
    background-color: var(--light-medium);
}

#loading-placeholder {
    text-align: center;
    color: var(--light-medium);
}

@media screen and (max-width: 768px) {
    main {
        padding: 1rem;
    }

    .sessions-card {
        padding: 1rem;
    }

    .session-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .session-header-left {
        margin-bottom: 0.5rem;
    }

    .session-details.expanded {
        flex-direction: column;
        align-items: flex-start;
    }

    .session-details > * {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}