

.hidden-menu {
    font-size: var(--a-bit-bigger-font-size);
    text-align: center;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition: height 0.5s ease, opacity .5s ease;
    opacity: 0;
}

.hidden-menu.show {
    height: 2.8rem;
    opacity: 1;
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

#category {
    width: 15rem;
}

.fa-square {
    font-size: 2.2rem;
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
}

.rating-style-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: var(--margin);
}

#style-select.jazz {
    color: rgb(146, 0, 0);
}

/* Style for Balkan (red) */
#style-select.balkan {    
    color: rgb(0, 0, 173);
}

.fa-square:hover {
    cursor: pointer;
}

#rating {
    font-size: 0; /* Removes space between inline-block elements */
    display: flex;
    align-items: center;
}

#rating:hover {
    cursor: pointer;
}

#rating .fa-star {
    font-size: var(--a-bit-bigger-font-size); /* Adjust the size of the stars as needed */
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
    line-height: 1;
}

textarea {
    padding-left: 5px;
    resize: none;
    height: 8rem;
    border-radius: var(--border-radius);
    font-size: var(--smaller-font-size);
    margin-top: var(--margin);
}

#submit {
    margin-top: var(--margin);
    padding: 10px;
    border: solid 1px var(--light-medium);
}

#submit.disabled {
    color: var(--light-dark);
}

#message-div {
    position: absolute;
    bottom: 1rem;
}

#message-div.success {
    color: #0d6b23;
}

#message-div.error {
    color: #721c24;
}