:root {
  --default-font-size: 1.3rem;
  --a-bit-bigger-font-size: 1.8rem;
  --bigger-font-size: 2.4rem;
  --smaller-font-size: 1.1rem;
  --dark-dark: #121212;
  --dark-medium: #1f1f1f;
  --light-light: rgb(214, 214, 214);
  --light-medium: rgb(122, 122, 122);
  --light-dark: rgb(85, 85, 85);
  --border-radius: 10px;
  --margin: .5rem;
  --color-jazz: #1b0b0b;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
input,
select,
option,
textarea,
span,
i {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}

button {
  border: none;
  border-radius: var(--border-radius);
}

button:hover {
  cursor: pointer;
}

body, html {
  background: var(--dark-dark);
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--default-font-size);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(--light-light);
  overflow: hidden;
}

/* @keyframes pulse {
  0%, 100% {
    background-color: var(--dark-dark);
  }
  50% {
    background-color: var(--color-jazz);
  }
} */

body {
  display: flex;
  flex-direction: column;
  /* animation: pulse 5s infinite; */
}

nav {
  padding: 1rem;
  background: var(--dark-medium);
  display: flex;
  justify-content: flex-end;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 50%);
  text-shadow: 2px 2px 5px 0px rgb(0 0 0 / 50%);
}

.nav-content > * {
  padding-right: .5rem;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#google-login {
  font-size: var(--a-bit-bigger-font-size);
  border: 1px solid var(--light-medium);
  border-radius: var(--border-radius);
  padding: .5rem;
}

form {
  width: fit-content;
  padding: 1.5rem;
  background: var(--dark-medium);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 50%);
}

select {
  border: solid 1px var(--light-medium);
  border-radius: var(--border-radius);
  padding: 0px 5px;
}

select:hover {
  cursor: pointer;
}

option {
  font-size: var(--smaller-font-size);
  background-color: var(--dark-medium);
}

.timer-container {
  font-size: var(--bigger-font-size);
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: var(--margin);  
}

.timer-container > * {
  padding: 0 .7rem;
  transition: color .5s ease, background-color .5s ease;
}

.timer-container.disabled > *:not(:first-child) {
  color: var(--light-dark);
}

.timer-container.disabled > *:first-child {
  background-color: var(--light-dark) !important;
}

.timer-display {
  display: flex;
  align-items: center;
}

#start-button {
  min-width: 10.5rem;
  background-color: var(--light-light);
  color: var(--dark-medium);
  border-radius: 15px;
}

#start-button:hover {
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, .5);
}

#timer {
  padding-right: .6rem;
  margin-left: var(--margin);
}

#timer:hover {
  cursor: pointer;
}

#reset {
  font-size: var(--a-bit-bigger-font-size);
}

#reset:hover i {
  transform: rotate(15deg); 
  transition: transform 0.1s ease;
}

.hidden-menu {
  font-size: var(--a-bit-bigger-font-size);
  text-align: center;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: height 0.5s ease, opacity .5s ease;
  opacity: 0;
}

.hidden-menu.show {
  height: 2.8rem;
  opacity: 1;
}

.select-container {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#category {
  width: 13rem;
}

.style-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 0 2rem;
}

.style-rating-container {
  display: flex;
  align-items: center;
}

.slide-container {
  overflow: hidden;
  position: relative;
  width: 4.8rem;
  height: 1.2rem;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.arrow {
  font-size: 1rem;
  color: var(--light-medium);
  transform: translateY(1px);
}

.arrow.highlight {
  color: var(--light-light);
}

#jazz.visible {
  transform: translateX(0);
}

#balkan.not-visible {
  transform: translateX(100%);
}

#balkan.visible {
  transform: translateX(0);
}

#jazz.not-visible {
  transform: translateX(-100%);
}





#rating {
  font-size: 0px;
}

#rating:hover {
  cursor: pointer;
}

#rating .fa-star {
  font-size: var(--default-font-size); /* Adjust the size of the stars as needed */
}

textarea {
  padding-left: 5px;
  resize: none;
  height: 8rem;
  border: solid 1px var(--light-medium);
  border-radius: var(--border-radius);
  font-size: var(--smaller-font-size);
  margin-top: var(--margin);
}

#submit {
  color: var(--dark-dark);
  background-color: var(--light-light);
  margin-top: var(--margin);
  padding: 10px;
  border: solid 1px var(--light-medium);
}

#submit:hover:not(.disabled) {
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, .5);
}

#submit.disabled {
  color: var(--light-medium);
  background-color: transparent;
}

#message-div {
  position: absolute;
  bottom: 1rem;
}

#message-div.success {
  color: #0d6b23;
}

#message-div.error {
  color: #721c24;
}

@media screen and (max-width: 768px) {
  html{
    font-size: 22px;
  }
  body {
    background-color: var(--dark-medium);
  }
  form {
    width: 100%;
    padding: 2rem;
    border-radius: 0px;
    box-shadow: none;
    background-color: pink;
  }

  nav {
    padding: .5rem;
    box-shadow: none;
    border-bottom: 1px solid var(--light-medium);
    font-size: var(--smaller-font-size);
  }

  main {
    transform: translateY(-50px);
  }

  .timer-container {
    flex-direction: column;
    align-items: center;
  }

  .timer-display {
    justify-content: center;
    transform: translateX(-5px);
  }

  #start-button {
    order: 2;
    margin-top: var(--margin);
    width: 12rem;
  }

  #reset {
    transform: translateY(2px);
  }

  .hidden-menu #or {
    display: none;
  }

  .hidden-menu.show {
    height: 2.8rem;
    opacity: 1;
  }

  .select-container {
    flex-direction: column;
  }

  .style-container {
    padding: 0;
  }

  .style-rating-container {
    width: 100%;
    justify-content: space-between;
  }

  #category {
    width: 100%;
    margin-top: var(--margin);
    order: 2;
  }

  #stats {
    display: none;
  }

  #start-button:hover {
    box-shadow: none;
  }

  #submit:hover:not(.disabled) {
    box-shadow: none;
  }
  

}